*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

:root,html{
    /* スムーススクロール用 */
    scroll-behavior: smooth;
  
    font-family: 'Edu TAS Beginner', 'M PLUS Rounded 1c', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 14pt;
    font-feature-settings: "palt";

    --main-color: #FFD610;
    --sub-color: #ffce7e;
    --text-color: #242424;
    --bg-color: #242424;
    
    --section-margin: 150px;
}

header{
    width: 100%; /* 幅いっぱいを指定 */
    height: 100px; /* 高さを50pxに指定 */
    background: var(--bg-color); /* 背景色にグレーを指定 */
    padding: 20px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    display: flex; /* 中の要素を横並びにする */
    z-index: 100;
}

.bg-filter{
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 820.5px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.title h2{
    position: absolute;
    bottom: 17px;
    left: 20%;
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 5px;
}

.toTop h2{
    position: absolute;
    bottom: 25px;
    right: 10%;
    color: #fff;
    font-size: 1.7em;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: rgb(180, 180, 180) solid 1.5px;
}

.title-icon{
    position: absolute;
    bottom: 16px;
    left: 13%;
    display: block; /* 画像自体を箱として表示させる */
    width: 60px; /* 横幅の設定 */
    height: 60px; /* 高さの設定 */
    border-radius: 50%;
}

footer{
    width: 100%; /* 幅いっぱいを指定 */
    height: 400px; /* 高さを50pxに指定 */
    background: var(--bg-color);
    position: relative;
}

.footer-title{
    color: #fff;
    position: absolute;
    top: 28px;
    left: 39%;
    font-size: 2.8em;
}

main {
    height: 2700pt; /* スクロールの演出を見れるようにmainに高さを指定 */
}

.icon01{
    display: block; /* 画像自体を箱として表示させる */
    width: 150px; /* 横幅の設定 */
    height: 150px; /* 高さの設定 */
    border-radius: 50%;
    top: 130px;
    left: 15%;
    position: absolute;
    z-index: 1;
}

.icon02{
    display: block; /* 画像自体を箱として表示させる */
    width: 150px; /* 横幅の設定 */
    height: 150px; /* 高さの設定 */
    border-radius: 50%;
    top: 130px;
    left: 30%;
    position: absolute;
    z-index: 1;
}

.icon03{
    display: block; /* 画像自体を箱として表示させる */
    width: 150px; /* 横幅の設定 */
    height: 150px; /* 高さの設定 */
    border-radius: 50%;
    top: 130px;
    left: 45%;
    position: absolute;
    z-index: 1;
}

.icon04{
    display: block; /* 画像自体を箱として表示させる */
    width: 150px; /* 横幅の設定 */
    height: 150px; /* 高さの設定 */
    border-radius: 50%;
    top: 130px;
    left: 60%;
    position: absolute;
    z-index: 1;
}

.icon05{
    display: block; /* 画像自体を箱として表示させる */
    width: 150px; /* 横幅の設定 */
    height: 150px; /* 高さの設定 */
    border-radius: 50%;
    top: 130px;
    left: 75%;
    position: absolute;
    z-index: 1;
}

#title01{
    color: #fff;
    top: 300px;
    left: 15%;
    position: absolute;
    z-index: 2;
    text-decoration: none;
}

#title02{
    color: #fff;
    top: 300px;
    left: 30%;
    position: absolute;
    z-index: 2;
    text-decoration: none;
}

#title03{
    color: #fff;
    top: 300px;
    left: 45%;
    position: absolute;
    z-index: 2;
    text-decoration: none;
}

#title04{
    color: #fff;
    top: 300px;
    left: 60%;
    position: absolute;
    z-index: 2;
    text-decoration: none;
}

#title05{
    color: #fff;
    top: 300px;
    left: 75%;
    position: absolute;
    z-index: 2;
    text-decoration: none;
}

.p-title{
    margin-left: 2.8%;
}

.o-title{
    margin-left: 2.3%;
}

.g-title{
    margin-left: 3.2%;
}

.i-title{
    margin-left: 3.3%;
}

.a-title{
    margin-left: 1.8%;
}

.c-title{
    margin-left: 4.5%;
}

.link:hover{
    color: var(--sub-color);
}

#title01:hover{
    color: var(--sub-color);
}

#title02:hover{
    color: var(--sub-color);
}

#title03:hover{
    color: var(--sub-color);
}

#title04:hover{
    color: var(--sub-color);
}

#title05:hover{
    color: var(--sub-color);
}

.top{
    position: relative;
}

.top-img{
    width: 100%;
    height: 736px;
    z-index: -2;
    margin-top: 85px;
    position: absolute;
}

.top-title{
    color: #fff;
    font-size: 3em;
    top: 400px;
    left: 20%;
    z-index: 0;
    position: absolute;
}

.works-top{
    color: #fff;
    font-size: 2.5em;
    padding: 0 20px;
    top: 1250px;
    left: 43%;
    border-bottom: 4px solid #fff;
    z-index: -1;
    position: absolute;
}

.work01{
    position: relative;
}

.main-background{
    top: 821px;
    height: 2084.5pt;
    width: 100%;
    z-index: -99;
    position: absolute;
}

.work-img01{
    height: 300px;
    width: 30%;
    top: 1450px;
    left: 20%;
    z-index: 0;
    position: absolute;
}

.work-title01{
    color: #fff;
    font-size: 2em;
    top: 1450px;
    left: 60%;
    padding: 0 20px;
    z-index: -1;
    position: absolute;
    border-bottom: 4px solid #fff;
}

.work-txt01{
    color: var(--text-color);
    font-size: 1.5em;
    top: 1520px;
    left: 55%;
    line-height: 70px;
    z-index: -1;
    position: absolute;
}

.work02{
    position: relative;
}

.work-img02{
    height: 600px;
    width: 30%;
    top: 1975px;
    right: 20%;
    z-index: 0;
    position: absolute;
}

.work-txt02{
    color: var(--text-color);
    font-size: 1.5em;
    top: 2045px;
    right: 58%;
    line-height: 70px;
    z-index: -1;
    position: absolute;
}

.work-title02{
    color: #fff;
    font-size: 2em;
    top: 1975px;
    left: 20%;
    padding: 0 20px;
    z-index: -1;
    position: absolute;
    border-bottom: 4px solid #fff;
}

.work03{
    position: relative;
}

.work-img03{
    height: 300px;
    width: 30%;
    top: 2800px;
    left: 20%;
    z-index: 0;
    position: absolute;
}

.work-title03{
    color: #fff;
    font-size: 2em;
    top: 2800px;
    left: 60%;
    padding: 0 20px;
    z-index: -1;
    position: absolute;
    border-bottom: 4px solid #fff;
}

.work-txt03{
    color: var(--text-color);
    font-size: 1.5em;
    top: 2870px;
    left: 55%;
    line-height: 70px;
    z-index: -1;
    position: absolute;
}

.black{
    color: #242424;
}